@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', Roboto, Helvetica;
}
h1 {
    font-size: 25px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 19px;
}
h5 {
    font-size: 18px;
}

.toggle-switch:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #303c34;
  }
.toggle-switch:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #303c34;
}

/* Calendar */
.dateTimePicker .MuiInputBase-input {
    padding: 8px !important;
    font-size: 15px !important;
}

.fc-button {
    background: #f1f2f3 !important;
    color: #454f5e !important;
}

.dark .fc-button {
    background: #454f5e !important;
    color: #dadfe2 !important;
}

.fc-today-button {
    color: #000 !important;
}
@media screen and (max-width: 580px) {
    .fc-button-group {
        margin-left: 0 !important;
    }
  }

@media screen and (max-width: 400px) {
.fc-button-group {
    margin-top: 4px !important;
}
}

.dark .fc-day-other .fc-daygrid-day-number {
    color: #FFF;
    /* color: #d1d5db; */
    /* color: #c1c5cb; */
}

/* End Calendar */